.Navigations_var{
    background-color: rgb(78,78,78);
    text-align: left;
    border-bottom-right-radius: 1rem;
    margin-bottom: 30px;
    width: 190px;
}
.Navigations_var img , .CloseBtn img{
    width: 20px;
}
.Navigations_var div , .CloseBtn div{
    border-bottom: 1px solid black;
    padding: 0.3rem;
    font-size: 13px;
    color: #9b9b9b;
    border: none;
}
.Navigations_var .selected , .CloseBtn .selected{
    background-color: #ffffff0E;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.Menu_var img{
    width: 10px;
    object-fit: cover;
}

.Review_page {
    padding-right: 13rem;
}

.Review_title{
    margin-left: 17rem !important;
    margin-top: 2rem;
    width: 400px;
}

.Review_content{
    margin-left: 17rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
    width: 70vw;
    color: white;
    text-align: left;
}

.Review_content p{
    color: white;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
}
.Review_content p img{
    color: white;
    font-size: 21px;
    text-align: left;
    max-width: 1000px;
    object-fit: cover;
}

.CloseBtn{
    transition: 1s;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    text-align: left;
    background-color: rgb(78,78,78);
    height: 0px;
}
.CloseBtn .selected , .CloseBtn .unSelected{
    display: none;
}
.prev_btn{
    top: 380px;
    left: 10px;
    margin-top: 10px;
}
.prev_btn button{
    border: none;
    background-color: rgb(207 255 221);
    border-radius: 0.3rem;
    width: 169px;
}
.remove_Btn{
    top: 340px;
    left: 10px;
}
.remove_Btn button{
    border: none;
    background-color: rgb(207 255 221);
    border-radius: 0.3rem;
    background-color: #5c72ab;
    color: white;
    padding: 0.2rem 0.2rem;
    font-size: 14px;
    width: 80px;
}
.scrollUpBtn{
    
   
}
.scrollUpBtn button{
    width: 50px;
    line-height: 2rem;
    border: none;
    background-color: #191919;
}
