.Review_page{
    position: relative;
    top: 50px;
}

.Review_title{
    margin-bottom: 50px;
}

.Review_title input{
    width:300px;
    height: 50px;
    background-color: #282830;
    outline: none;
    border: none;
    color: #adb5ca;
    margin-left: -10rem;
    padding: 1rem 1rem;
}
.Review_content{
    height: 500px;
    overflow-y: scroll;
}

.markdown_content {
    width: 82rem;
    height: 100%;
    outline: none;
    background-color: rgb(25,25,25);
    color: #c4c4c4;
    padding-top: 2rem;
    text-align: left;
    font-size: 20px;
    padding-bottom: 6rem;
}
.markdown_content p{
    width: 100%;
    transform: scale(0.7);
}

.markdown_title {
    width: 82rem;
    height: 10vh;
    outline: none;
    background-color: rgb(25,25,25);
    color: #c4c4c4;
    padding-top: 2rem;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-left: 5rem;
}

.Review_addBtn{
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    margin-bottom: 3rem;
}

.Review_addBtn button{
    background-color: #5c72ab;
    color: #DCE2F0;
    padding: 0.3rem;
    width: 80px;
    border: none;
    font-size: 12px;
    text-align: center;
    line-height: 2em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.te{
    position: relative;
}


.te button{
    background-color: #8AAAE5;
    color: #DCE2F0;
    padding: 0.3rem;
    width: 60px;
    border: none;
    font-size: 12px;
    text-align: center;
    line-height: 2em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 10px;
    margin-left: 13px;
}
.te div{
    background-color: rgb(25,25,25);
    color: rgb(25,25,25);
    padding: 0.3rem;
    width: 60px;
    border: none;
    font-size: 12px;
    text-align: center;
    line-height: 2em;
    margin-right: 10px;
    margin-left: 13px;
}
button:disabled{
    background-color: gray;
}
.finish_btn{
    position: relative;
    left: 611px;
    top: -38px;
    width: 120px;
    background-color: rgb(150,46,27) !important;
}
input , textarea { 
    cursor: auto;
}
textarea{
    text-align: center;
}