.hero-image{
    height: 94vh;
    background-color: #fcfcfc;
}
.hero-first{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15%;
    padding-left: 20%;
    padding-right: 20%;
}
.hero-first-img{
    width: 50%;
}
.hero-first-img{
    background-color: red;
    width: 400px;
    height: 400px;
}
.hero-first-text{
    width: 50%;
    margin-top: 100px;
}
.hero-button{
    background-color: #222222;
    margin-top: 20px;
}
.hero-button_user{
    background-color: #939393;
    margin-top: 20px;
    width: 100px;
    line-height: 1.8rem;
    border: none;
    border-radius: 0.3rem;
    height:30px;
}

.hero-button_user:hover {
   animation: pressGo 1s;
   background-color: rgb(138, 187, 230);
   width: 70px;
   height: 70px;
   border-radius: 5rem;
}
@keyframes pressGo {
    from{
        background-color: #939393;
        width: 100px;
        height: 30px;
    }
    to{
        background-color: rgb(138, 187, 230);
        width: 70px;
        height: 70px;
    }
}

.hero-Go_velog{
    display: flex;
    width: 1000px;
    height: 50%;
    top: 15%;
    margin: auto;
    position: relative;
}
.velog_content{ 
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin-right: 10rem;
    margin: auto;
}
.velog_content .velog_img {
    width: 300px;
    height: 180px;
    background-color: beige;
}
.velog_content button{
    border: none;
    font-size: 18px;
    background-color: aqua;
    color: rgb(67, 67, 67);
    font-weight: bold;
    margin-left: 234px;
    margin-top: 59px;;
}