{% load account %}
{% load i18n %}
{% block content %}
{% autoescape off %}
{% user_display user as user_display %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./email_confirmation_signup_message.css">
  </head>
...
<div className='formEmailCheck'>
  <img src='https://c.tenor.com/1FRxK0qv1LUAAAAC/hello-hi.gif' />
  <h2>어서오세요 김수연님 : )</h2>
  <h2>ReSee와 함께하고싶다면 눌러주세요 !</h2>
  <h1>⬇︎</h1>
  <a href="{{ activate_url }}" target="_blank">
    <button>인증 하기</button>
  </a>
</div>
...

</html>
{{ user_display }}

{% endblocktrans %}
{% endautoescape %}
{% endblock %}